.aboutMe {
  cursor: pointer;
}

/* cards. */

.cards {
  width: 310px;
  height: 400px;
  /* background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%); */
  /* background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%); */
  /* background-image: linear-gradient(163deg, #00ff75 0%, #ff00cc 100%); */
  background-image: linear-gradient(163deg, #ff5733 0%, #ffc300 100%);
  /* background-image: linear-gradient(163deg, #ff5733 30%, #1bea67 40%, #f39c12 80%); */
  border-radius: 20px;
  transition: all 0.3s;
}

#CARDS {
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
  margin-top: 3vw;
}

.card {
  width: 310px;
  height: 400px;
  background-color: #5f5959;
  /* background-color: gray; */
  border-radius: 8px;
  color: white;

  border-radius: 5px;
  padding-top: 13px;
  transition: all 0.3s;
}

.card:hover {
  transform: scale(0.98);
  border-radius: 20px;
  
}

.cards:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
}
.cardImg {
  border: 1px solid green;
  border-radius: 8px;
  width: 90%;
  height: 60%;
  margin: auto;
  overflow: hidden;
  /* position: absolute; */
}
.cardImg .cardImg1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .cardText {
  /* padding: 0.6vw 0.8vw; */
  text-align: center;
}
.card .cardText h3 {
  font-size: 1.5rem;
  color: #000;
  cursor: pointer;
}

/* dark button */

.theme-options {
  width: 100%;
  display: none;
  position: absolute;
  background-color: #b7aaaa;
  transition: all 0.5s ease-in;
  /* padding: 12px 0; */
}

.loginLi:hover .theme-options {
  display: block;
}

.theme-options a {
  width: 100%;
  display: block;
  color: #333; /* Change as needed */
  text-decoration: none;
  /* padding: 12px 0; */
}

.theme-options a:hover {
  background-color: #f0f0f0; /* Change as needed */
}

.dark-theme {
  width: 100%;
  padding: 12px;
  color: #000; /* Change as needed */
}

.light-theme {
  width: 100%;
  padding: 12px;
  color: #fff; /* Change as needed */
}

/* media querry */
body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #home {
    width: 100%;
  }
  #home {
    height: 70vh;
    padding: 30px 0 30px 0;
  }
  #home .left {
    width: 100%;
  }
  .input {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  #CARDS {
    justify-content: center;
    gap: 44px;
  }
  .imgT {
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .imgT .aboutContent {
    font-size: 20px;
    text-align: justify;
    width: 100%;
  }
  .aboutMe {
    font-size: 35px !important;
    font-weight: bold;
  }
}
@media (min-width: 400px) and (max-width: 745px) {
  #home {
    width: 100%;
  }

  #header {
    width: 100%;
  }
  .btn-G {
    flex-direction: column;
  }
  .btn-G .btn-custom {
    height: 60px;
    width: 300px;
    font-size: 22px;
  }
}
@media (max-width: 435px) {
  .form #input3 {
    width: 92%;
    margin-left: 15px;
  }
  #CARDS {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inputDiv {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    padding: 14px;
    row-gap: 14px;
  }
  .inputDiv input {
    width: 100%;
    margin-bottom: 0;
  }
  .right a i {
    padding-left: 8px;
  }
  .right p {
    padding-left: 12px;
  }
}

@media (max-width: 440px) {
  #home {
    height: auto;
    padding: 30px 0 30px 0;
  }
  #home .left h3 {
    font-size: 2.5rem;
  }
  #home .left h4 {
    font-size: 2.3rem;
  }
  .btn-G {
    flex-direction: column;
  }
  .btn-G .btn-custom {
    height: 60px;
    width: 150px;
    font-size: 18px;
  }
  .input {
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }
  .imgT {
    padding: 0;
    justify-content: center;
    /* align-items:center; */
  }
  .aboutContent {
    font-size: 13px;

    width: 100%;
  }
  .btn-G .btn-custom {
    height: 60px;
    width: 45vw;
    margin-bottom: 10px;
  }
}
